<div class= 'hero-unit'>
<h1>Welcome to Angel's Page!</h1>
<p>
	You've stumbled upon
	<%= link_to "Angel's Fairy Land", "http://www.angelpoon.com" %>.
</p>
<p>
	<%= link_to "Sign Up Now!", "#", class: "btn btn-inverse btn-large" %>
</p>

</div>

